<div class="p-col-12 p-md-4">
    <p-card header="Fuel Price" class="chart-card">

        <div class="p-grid p-align-start">

            <div class="p-col-12 p-md-6">
                <div class="field">
                    <label for="gasoline">Show last</label>

                    <span class="p-input-icon-left w-full">
                        <p-select
                                [options]="entriesOptions"
                                [(ngModel)]="selectedEntriesOption"
                                optionLabel="label"
                                placeholder="x entries"
                                class="w-full"
                                (ngModelChange)="onChange($event)">
                        </p-select>
                    </span>
                </div>
                <div>
                    <p-chart
                            type="line"
                            [data]="chartData"
                            [options]="chartOptions"
                            height="250px;">
                    </p-chart>
                </div>
            </div>
        </div>
    </p-card>
</div>