<div class="logbook-fuel-entry-list-wrapper">

    <p-card class="logbook-fuel-entry-list-card">
        <p-table [value]="entries" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Date</th>
                    <th>Mileage</th>
                    <th>Trip</th>
                    <th>Price</th>
                    <th>Units</th>
                    <th>Unit</th>
                    <th>Price per Unit</th>
                    <th>Comment</th>
                </tr>
            </ng-template>
            <ng-template #body let-entry>
                <tr>
                    <td>{{ entry.date | date: CONSTANTS.MISC.DATEFORMAT_EXTENDED }}</td>
                    <td>{{ entry.mileage }}</td>
                    <td>{{ entry.trip | number : '1.1-1' }}</td>
                    <td>{{ !!entry.price && !!entry.price.total ? (entry.price.total | number : '1.2-2') : '' }}</td>
                    <td>{{ entry.units }}</td>
                    <td>{{ entry.unit }}</td>
                    <td>{{ !!entry.price && !!entry.price.total ? (entry.price.perUnit) : '' }}</td>
                    <td>{{ entry.comment }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>

</div>
