<div class="reset-pw-wrapper">

    <p-card class="reset-pw-card">

        <img
                src="assets/images/logo_text.png"
                alt="App Icon"
                class="reset-pw-icon"
        />

        @if (loading) {
            <div class="center">
                <p-progressSpinner></p-progressSpinner>
            </div>
        }

        @if (validated) {
            <h2>Welcome back</h2>

            <h3>Please enter your new password</h3>

            <div class="p-fluid">

                <!-- Password -->
                <div class="field">
                    <label for="password">Password</label>

                    <span class="p-input-icon-left w-full">
          <!--<i class="pi pi-lock"></i>-->

          <p-password
                  id="password"
                  [(ngModel)]="password"
                  [toggleMask]="true"
                  [feedback]="false"
                  placeholder="Enter password"
                  styleClass="w-full"
                  (keyup.enter)="onSubmit()">
          </p-password>

        </span>
                </div>

                <!-- Buttons -->
                <div class="button-group">
                    <p-button
                            label="Reset"
                            icon="pi pi-sign-in"
                            (onClick)="onSubmit()"
                            [disabled]="!password"
                            styleClass="w-full p-mb-2">
                    </p-button>
                </div>
            </div>
        }

        @if (error) {
            <!-- Error -->
            <p-message severity="error" text="{{ error }}"></p-message>
        }

    </p-card>

</div>
