<div class="forgot-pw-wrapper">

    <p-card class="forgot-pw-card">

        <img
                src="assets/images/logo_text.png"
                alt="App Icon"
                class="app-icon"
        />

        <h2>Forgot Password</h2>

        <h3>Enter username to continue</h3>

        <div class="p-fluid">

            <!-- Username -->
            <div class="field">
                <label for="username">Username</label>

                <span class="p-input-icon-left w-full">
          <!--<i class="pi pi-user"></i>-->
          <input
                  id="username"
                  pInputText
                  [(ngModel)]="username"
                  placeholder="Enter username"
                  (keyup.enter)="onSubmit()"/>
        </span>
            </div>

            <!-- Error -->
            @if (error) {
                <p-message severity="error" text="{{ error }}"></p-message>
            }

            <!-- Buttons -->
            <div class="button-group">
                <p-button
                        label="Submit"
                        icon="pi pi-envelope"
                        (onClick)="onSubmit()"
                        [disabled]="!username"
                        styleClass="w-full p-mb-2">
                </p-button>
            </div>
        </div>
    </p-card>
</div>
