<div class="login-wrapper">

  <p-card header="Welcome Back" subheader="Please login to continue" class="login-card">

    <div class="p-fluid">

      <!-- Username -->
      <div class="field">
        <label for="username">Username</label>

        <span class="p-input-icon-left w-full">
          <!--<i class="pi pi-user"></i>-->
          <input
            id="username"
            pInputText
            [(ngModel)]="username"
            placeholder="Enter username"
            (keyup.enter)="onLogin()" />
        </span>
      </div>

      <!-- Password -->
      <div class="field">
        <label for="password">Password</label>

        <span class="p-input-icon-left w-full">
          <!--<i class="pi pi-lock"></i>-->

          <p-password
            id="password"
            [(ngModel)]="password"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Enter password"
            styleClass="w-full"
            (keyup.enter)="onLogin()">
          </p-password>

        </span>
      </div>

      <!-- Error -->
      @if (error) {
        <p-message severity="error" text="{{ error }}"></p-message>
      }

      <!-- Buttons -->
      <div class="button-group">
        <p-button
          label="Login"
          icon="pi pi-sign-in"
          (onClick)="onLogin()"
          [disabled]="!password || !username"
          styleClass="w-full p-mb-2">
        </p-button>

        <p-button
          label="Register"
          icon="pi pi-user-plus"
          link
          (onClick)="onRegister()">
        </p-button>
      </div>

    </div>

  </p-card>

</div>
