<div class="login-wrapper">

    <p-card class="login-card">

        <img
                src="assets/images/logo_text_alt.png"
                alt="Login Icon"
                class="register-icon"
        />

        <h2>Create an account</h2>

        <h3>Please register to continue</h3>

        <div class="p-fluid">

            <!-- Username -->
            <div class="field">
                <label for="username">Username</label>

                <span class="p-input-icon-left w-full">
          <!--<i class="pi pi-user"></i>-->
          <input
                  id="username"
                  pInputText
                  [(ngModel)]="username"
                  placeholder="Enter username"
                  (keyup.enter)="onRegister()"/>
        </span>
            </div>

            <!-- Password -->
            <div class="field">
                <label for="password">Password</label>

                <span class="p-input-icon-left w-full">
          <!--<i class="pi pi-lock"></i>-->

          <p-password
                  id="password"
                  [(ngModel)]="password"
                  [toggleMask]="true"
                  [feedback]="false"
                  placeholder="Enter password"
                  styleClass="w-full"
                  (keyup.enter)="onRegister()">
          </p-password>

        </span>
            </div>

            <!-- Error -->
            @if (error) {
                <p-message severity="error" text="{{ error }}"></p-message>
            }

            <!-- Buttons -->
            <div class="button-group">
                <p-button
                        label="Register"
                        icon="pi pi-sign-in"
                        (onClick)="onRegister()"
                        [disabled]="!password || !username"
                        styleClass="w-full p-mb-2">
                </p-button>

                <p-button
                        label="Home"
                        icon="pi pi-home"
                        link
                        (onClick)="onHome()">
                </p-button>
            </div>

        </div>

    </p-card>

</div>
