<div class="logbook-entry-create-wrapper">

    <p-card header="Create a logbook entry" subheader="Please fill the entry details"
            class="logbook-entry-create-card">

        <div class="p-fluid">
            <div class="field">
                <label for="date">Start date</label>

                <span class="p-input-icon-left w-full">
              <p-datepicker [(ngModel)]="startDate" [showTime]="true" [hourFormat]="hourFormat" dateFormat="dd.mm.yy" />
          </span>
            </div>
            <div class="field">
                <label for="date">End date</label>

                <span class="p-input-icon-left w-full">
              <p-datepicker [(ngModel)]="endDate" [showTime]="true" [hourFormat]="hourFormat" dateFormat="dd.mm.yy" />
          </span>
            </div>

            <!-- KM Start -->
            <div class="field">
                <label for="kmStart">KM Start</label>

                <span class="p-input-icon-left w-full">
            <p-inputnumber [(ngModel)]="kmStart" mode="decimal" inputId="kmStart" [useGrouping]="false"/>
        </span>
            </div>

            <!-- KM End -->
            <div class="field">
                <label for="kmEnd">KM End</label>

                <span class="p-input-icon-left w-full">
            <p-inputnumber [(ngModel)]="kmEnd" mode="decimal" inputId="kmEnd" [useGrouping]="false"/>
        </span>
            </div>

            <!-- Trip -->
            <div class="field">
                <label for="trip">Trip</label>

                <span class="p-input-icon-left w-full">
            <p-inputnumber [(ngModel)]="trip" inputId="trip" mode="decimal" [minFractionDigits]="0"
                           [maxFractionDigits]="1"/>
        </span>
            </div>

            <div class="field">
                <label for="route">Route</label>

                <span class="p-input-icon-left w-full">
          <input
                  id="route"
                  pInputText
                  [(ngModel)]="route"
                  placeholder="Enter route"
                  (keyup.enter)="onCreate()" />
        </span>
            </div>

            <div class="field">
                <label for="comment">Comment</label>

                <span class="p-input-icon-left w-full">
          <input
                  id="comment"
                  pInputText
                  [(ngModel)]="comment"
                  placeholder="Enter comment"
                  (keyup.enter)="onCreate()" />
        </span>
            </div>

            <!-- Error -->
            @if (error) {
                <p-message severity="error" text="{{ error }}"></p-message>
            }

            <!-- Buttons -->
            <div class="button-group">
                <p-button
                        label="Create"
                        icon="pi pi-plus"
                        (onClick)="onCreate()"
                        styleClass="w-full p-mb-2">
                </p-button>

                <p-button
                        label="Home"
                        icon="pi pi-home"
                        link
                        (onClick)="onHome()">
                </p-button>
            </div>

        </div>

    </p-card>

</div>
