<p-toolbar class="footer">
    <div class="p-toolbar-group-start">
        <a href="mailto:thomas.rotter.32@outlook.com?subject=Logbook App Feedback">
            App Feedback
        </a>
    </div>

    <div class="p-toolbar-group-center">
        <p>© {{ currentYear }} Thomas Rotter. All rights reserved.</p>
    </div>

    <div class="p-toolbar-group-end">
        <a href="https://www.paypal.me/ThomasRotter" target="_blank">
            Buy me a coffee ☕
        </a>
    </div>
</p-toolbar>


