<div class="logbook-entry-list-wrapper">

    <p-card class="logbook-entry-list-card">
        <p-table
                [value]="entries"
                [lazy]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true"
                [rows]="rows"
                [totalRecords]="total"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5,10,20]"
                (onLazyLoad)="pageChange($event)">
            <ng-template #header>
                <tr>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>KM Start</th>
                    <th>KM End</th>
                    <th>Trip</th>
                    <th>Route</th>
                    <th>Comment</th>
                </tr>
            </ng-template>
            <ng-template #body let-entry>
                <tr>
                    <td>{{ entry.startDate | date: CONSTANTS.MISC.DATEFORMAT_EXTENDED }}</td>
                    <td>{{ entry.endDate | date: CONSTANTS.MISC.DATEFORMAT_EXTENDED }}</td>
                    <td>{{ entry.kmStart }}</td>
                    <td>{{ entry.kmEnd }}</td>
                    <td>{{ entry.trip | number : '1.1-1' }}</td>
                    <td>{{ entry.route }}</td>
                    <td>{{ entry.comment }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>

</div>
