<div class="dashboard">
    <p-card class="dashboard-card">
        <h2>Welcome {{ username }}</h2>
    </p-card>
    <!-- Loading -->
    @if (loading) {
        <div class="center">
            <p-progressSpinner></p-progressSpinner>
        </div>
    }

    <!-- Error -->
    @if (!loading && error) {
        <p-message severity="error" text="{{ error }}"></p-message>
    }

    <!-- Data -->
    @if (!loading && !error && currentVehicle) {

        <div class="p-grid p-m-3 p-justify-center">


            <app-vehicle-details
                    [data]="currentVehicle">
            </app-vehicle-details>

            @if (!!vehicleImage) {
                <app-vehicle-image [blob]="vehicleImage" (cleared)="onDeletePhoto($event)"></app-vehicle-image>
            } @else {
                <app-vehicle-image-upload (confirmed)="onUploadConfirmed($event)"></app-vehicle-image-upload>
            }

            @if (!!currentMonthEntries && currentMonthEntries.length > 0) {
                <div class="p-col-12 p-md-4">

                    <p-card header="Current Month Logbook Entries ({{ currentMonth }})" class="logbook-entry-card">

                        <div class="p-grid p-align-start">

                            <div class="p-col-12 p-md-6">
                                <table>
                                    <tr>
                                        <td><strong>Number of entries:</strong></td>
                                        <td>{{ currentMonthEntries.length }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Distance covered:</strong></td>
                                        <td>{{ currentMonthDistance.toFixed(1) }} km</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Longest single trip:</strong></td>
                                        <td>{{ currentMonthLongestDistance.toFixed(1) }} km</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="p-col-12 p-md-6">
                                <p><a href="/logbook"><strong>Details</strong></a></p>
                            </div>

                        </div>

                    </p-card>

                </div>
            }

            @if (currentVehicle.lastLogbookEntry) {
                <app-logbookentry
                        [data]="currentVehicle.lastLogbookEntry">
                </app-logbookentry>
            }

            @if (currentVehicle.lastLogbookFuelEntry) {
                <app-logbookfuelentry
                        [data]="currentVehicle.lastLogbookFuelEntry">
                </app-logbookfuelentry>
            }

            @if (fuelEntries !== undefined && fuelEntries.length > 0) {
                <app-consumption-chart [entries]="fuelEntries"></app-consumption-chart>
                <app-price-chart [entries]="fuelEntries"></app-price-chart>
            }

        </div>
    }

    @if (noVehiclesYet) {
        <div class="p-grid p-m-3 p-justify-center">

            <p>You don't have any vehicles in your profile yet. Create your first vehicle <a
                    href="/vehicle/create">here</a>
            </p>

        </div>
    }

</div>
