<p-toolbar class="navbar">

    <!-- Left side -->
    <div class="p-toolbar-group-start collapse-vehicle-picker-wrapper"
         [class.collapsed]="(sidebarService.collapsed$ | async)"
         [class.mobile]="(sidebarService.mobileVisible$ | async)">
        <div class="collapse-button-wrapper">
            <button
                    pButton
                    icon="pi pi-bars"
                    severity="secondary"
                    [text]="true"
                    (click)="toggleSidebar()">
            </button>
        </div>

        <div class="vehicle-picker-wrapper">
            <app-vehicle-picker/>
        </div>
    </div>


    <div class="p-toolbar-group-center">
        <a href="/">
            <img
                    src="assets/images/logo_text.png"
                    alt="Login Icon"
                    class="login-icon"
            />
        </a>
    </div>

    <!-- Right side -->
    <div class="p-toolbar-group-end">

        @if (username) {
            <span class="username">{{ username }}</span>
        }

        <p-button
                label="Logout"
                icon="pi pi-sign-out"
                (onClick)="logout()">
        </p-button>

    </div>

</p-toolbar>
