.app-title {
  margin: 0;
}

.username {
  margin-right: 15px;
  font-weight: 500;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  background: white;
  transition: all 0.3s ease;
}

.collapse-vehicle-picker-wrapper {
  display: flex;
  align-items: center;
}

.collapse-vehicle-picker-wrapper.collapsed .collapse-button-wrapper {
  width: 80px;
}

.collapse-button-wrapper {
  width: 270px;
}

.vehicle-picker-wrapper {

}

.flex-grow-1 {
  flex: 1;
}